.dialog-pane {
    -fx-border-color: black;
    -fx-background-color: #111;
    -fx-border-width: 2;
}

.dialog-pane > .content.label {
    -fx-text-fill: #fff;
}

.dialog-pane .label {
    -fx-text-fill: white;
    -fx-font-family: "Noto Sans";
}

.dialog-pane .text-field {
    -fx-background-color: #000;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-accent: #444;
    -fx-text-fill: #fff;
}

.dialog-pane .text-field .context-menu {
    -fx-background-color: derive(#1d1d1d, 30%);
}

.dialog-pane .text-field .context-menu .menu-item .label {
    -fx-text-fill: white;
}

.dialog-pane .text-field:focused {
    -fx-background-color: black;
}

.dialog-pane .button {
    -fx-background-radius: 0;
    -fx-background-color: #222;
    -fx-text-fill: white;
    -fx-border-width: 2;
    -fx-border-color: white;
    -fx-border-style: solid;
}

.dialog-pane .button:hover {
    -fx-background-color: #444;
}

.dialog-pane .button:pressed {
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
}