.dialog-pane {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > .content.label {
    -fx-text-fill: #fff;
}

.dialog-pane .label {
    -fx-text-fill: white;
    -fx-font-family: "Noto Sans";
}

.dialog-pane .text-field {
    -fx-background-insets: 0;
    -fx-background-color: #000;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-accent: #444;
    -fx-text-fill: #fff;
}

.dialog-pane .text-field .context-menu {
    -fx-background-color: derive(#1d1d1d, 10%);
}

.dialog-pane .text-field .context-menu .separator {
    -fx-opacity: 1;
    -fx-padding: 2 0 2 0;
}

.dialog-pane .text-field .context-menu .separator .line {
    -fx-background-color: #fff;
    -fx-border-width: 0 0 0 0;
    -fx-border-color: transparent;
}

.dialog-pane .text-field .context-menu .menu-item .label {
    -fx-text-fill: #fff;
}

.dialog-pane .text-field:focused {
    -fx-background-color: black;
}

.dialog-pane .button {
    -fx-background-radius: 0;
    -fx-background-color: black;
    -fx-text-fill: white;
}

.dialog-pane .button:hover {
    -fx-background-color: #666;
}

.dialog-pane .button:pressed {
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
}